{% extends "page.html" %}

{% block subtitle %}{{ _('Changelog') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Changelog'), controller='ckanext.openenergy.plugin:ExtraPagesController', action='changelog' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <strong>2020-10-07: v0.0.3</strong>
      <ul>
        <li>Initial Release</li>
        <li>Added Open Energy specific branding</li>
        <li>Added support for geospatial file previews</li>
        <li>Added endpoints for DCAT vocabulary support</li>
      </ul>
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
